name: Trigger Selenium Repo

on:
  push:
    branches:
      - master

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Selenium run in other repo
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.CROSS_REPO_TOKEN }}" \
            https://api.github.com/repos/Akhil-132/Res/dispatches \
            -d '{"event_type":"run-selenium"}'
